# Oracle settings
#
unset LANG
umask 022

export ORA_VERSION=..
export ORA_SID=..
export ORA_ENV=..
export ORA_NODE=..

export PATH=/usr/kerberos/bin:/usr/local/bin:/bin:/usr/bin:/sbin

export ORACLE_UNQNAME={% if dbh.oracle_db_unique_name is defined %}{{ dbh.oracle_db_unique_name }}{% else %}{{ dbh.oracle_db_name }}{% endif %}
export ORACLE_BASE={{ oracle_base }}
export ORACLE_SID=${ORA_SID}${ORA_NODE}
export ORACLE_HOME={{ oracle_home_db }}
export ORACLE_PATH=${ORACLE_BASE}/bin

export PATH=${ORACLE_HOME}/sqlplus:${ORACLE_HOME}/OPatch:${ORACLE_HOME/bin}:${PATH}:${ORACLE_PATH}
export LD_LIBRARY_PATH=${ORACLE_HOME}/lib:${ORACLE_HOME}/ctx/lib
